<div class="container" [@fadeInOutAnimation]>
	<div class="titulo-componente"><h3>Ficha Financiera</h3></div>
	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >
		<div class="item-main-menu col-md-12 margen">
			<div class="col-xs-10">
				<h3 class="titulo">Filtros</h3>
				<hr>
				<p>Complete el formulario para realizar un filtrado de sus datos</p>	
			</div>
			<div class="icon-container col-xs-2" >
				<i class="material-icons md-90">keyboard_arrow_down</i>
			</div>		
		</div>
	</a>
	<div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
            <form>				
				<div class="form-group col-sm-6">
					<label for="desde"  >Desde:</label>
					<input type="date" class="form-control" name="desde" [(ngModel)]="desde">
				</div>
				<div class="form-group col-sm-6">
					<label for="hasta"  >Hasta:</label>
					<input type="date" class="form-control" name="hasta" [(ngModel)]="hasta" >
				</div>
				<div class="form-group col-sm-12">
					<button class="btn btn-info" (click)="obtenerDatosFichaFinanciera()">Aplicar</button>
				</div>
			</form>
        </div>
	</div>
	<div class="text-right btn-descargar">
		<button class="btn btn-primary" (click)="descargarPDF()">
			<span class="glyphicon glyphicon-download-alt"></span>
			Descargar en PDF
		</button>
	</div>
	<div class="text-right" >Saldo Anterior: {{saldoAnterior | numeroFinanciera:saldoAnterior}} </div> 		
	<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="text-right columna-fecha">Fecha</th>
					<th class="text-left columna-detalle">Detalle</th>
					<th class="text-right columna-comp">Comprobante</th>
					<th class="text-right columna-debe">Debe</th>
					<th class="text-right columna-haber">Haber</th>
					<th class="text-right columna-saldo">Saldo</th>
					<th class="text-right columna-fecha">Vto./op</th>
				</tr>
			</thead>		
			<tbody>
				<tr *ngFor="let item of itemsFichaFinanciera">
					<td class="text-right columna-fecha">
						{{item.FECHACARGA.date  | date:'dd-MM-yyyy'}}
					</td>
					<td class="text-left columna-detalle">
						{{item.DESDETALLE}}
					</td>
					<td class="text-right columna-comp">
						{{item.COMPROBANTE}}
					</td>
					<td class="text-right columna-debe">
						{{item.DEBE | numeroFinanciera:item.DEBE}}
					</td>
					<td class="text-right columna-haber">
						{{item.HABER | numeroFinanciera:item.HABER}}
					</td>
					<td class="text-right columna-saldo"> 
						{{item.SALDO2 |numeroFinanciera:item.SALDO2}}
					</td>
					<td class="text-right columna-fecha">
						{{item.FechaVto.date | date:'dd-MM-yyyy' }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-right" >Saldo Vencido: {{saldoVencido | numeroFinanciera:saldoAnterior}} </div> 
	<div class="text-right" >Saldo A Vencer: {{saldoAVencer | numeroFinanciera:saldoAnterior}} </div> 
</div>

