
.item-main-menu{
  background-color: white;
  padding: 5px 30px 5px 10px ;
  display: block;
  height: 120px;
  /*border-bottom: 1px solid #ddd;*/
  margin-top: 2px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 0;
}




.titulo-componente{
  position: fixed;
  z-index: 999;
  top: 17px;
  left: 40%;
  opacity: 0.5;
}



.icon-container{
  line-height: 110px;
  font-size: 48px;
  text-align: center;
}

.icon-container i{
  font-size: 48px;
  
}


.item-main-menu hr{
  margin-top: 0px;
  margin-bottom: 0px;
}

.item-main-menu p{
  margin-top: 10px;
  margin-bottom: 0px;
}

.panel-collapse{
  background: white;
  color:#337ab7;
}

.panel-default {
  border-color: #FFFFFF; 
  overflow: scroll;
}

td{
  color:#333333;
}

.columna-fecha{
  width: 100px;
  overflow: hidden;
    white-space: nowrap;
}

.columna-detalle{
  width: 120px;
  overflow: hidden;
    white-space: nowrap;
}

.columna-comp{
  width:140px;
  overflow: hidden;
    white-space: nowrap;
}