html{
  height: 100%;
  
}

body{
	height: 100%;
  color: white ;
  background-color: #0b263e;
	-webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 

            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
}

.margin-top-bar{
  margin-top: 30px;
}

.navbar-inverse{
  background-color: #2098D1!important;
  color:white;
  border: none;
  border-radius: 0;
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.navbar-inverse .navbar-nav > li > a {
    color: #EEEEEE;
}

.navbar-inverse .navbar-brand {
    color: #EEEEEE;
}

.center-container{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.btn{

  border: none;
}

.material-icons{
  vertical-align: middle !important;
  margin-right: 5px;
}

.btn-basic{
  background-color: #DDDDDD;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn-basic:hover {
background-color: #DDDDDD;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn-primary{
	background-color: #14829a;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn-primary:hover {
background-color: #14829a;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.form-control{
	background-color: #DDDDDD;
}

h5{
	color: #DDDDDD;
}

.ventana{
  background-color: rgba(255,255,255,0.9);
  padding: 30px 10px 30px 10px ;
  color: #333333;
  
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
}

.ventana header{
  background-image: url('img/ventana-header.jpg');  
  height: 100px;
  line-height: 100px;
  padding-left: 30px;
  background-color: #2C3B4E;
  font-size: 16px;
  color: #DDDDDD;

}

.ventana section{
  padding: 20px 30px 20px 30px;
}

.mensaje-alerta{
  background-color: #FF4D4D;
  font-size: 16px;
  color: white;
  padding: 10px 10px 10px 30px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.contenedor-archivos{
  margin-top: 2%;
  background-color: #2C3B4E;
  color:white;
  padding: 30px 30px 30px 30px ;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

td{
  background-color: white;
  
}

tr{
  overflow-x: scroll;
}
