<div class="container ventana" [@fadeInOutAnimation]>
	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		<div class="item-main-menu col-md-12">
			<div class="col-xs-10">
				<h3 class="titulo">Filtros</h3>
				<hr>
				<p>Complete el formulario para realizar un filtrado de sus datos</p>	
			</div>
			<div class="icon-container col-xs-2" >
				<i class="material-icons md-90">keyboard_arrow_down</i>
			</div>		
		</div>

	</a>
	<div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
            <form>
				<div class="form-group">
					<label for="tipoCereal">Seccion</label>
					
					<select class="form-control" [(ngModel)]="seccionSeleccionada" [ngModelOptions]="{standalone: true}">		<option *ngFor="let seccion of itemSecciones" [value]="seccion">
								{{seccion}}
							</option>
					</select>
				</div>
				<div class="form-group">
					<label for="tipoCereal">Linea</label>
					
					<select class="form-control" [(ngModel)]="lineaSeleccionada" [ngModelOptions]="{standalone: true}">						
						<option *ngFor="let linea of itemLineas" [value]="linea">
							{{linea}}
						</option>
					</select>
				</div>
				<div class="form-group">
					<label for="tipoCereal">Marca</label>
					
					<select class="form-control" [(ngModel)]="marcaSeleccionada" [ngModelOptions]="{standalone: true}">						
						<option *ngFor="let marca of itemMarcas" [value]="marca">
							{{marca}}
						</option>
					</select>
				</div>
				<div class="form-group col-sm-12">
					<button class="btn btn-info" (click)="obtenerItemsFiltrados()">Aplicar</button>
				</div>
			</form>
        </div>
    </div>


    <table class="table">
    	<tr>
    		<td>
    			Código
    		</td>
    		<td>
    			Nombre
    		</td>
    		<td>
    			Precio C/IVA
    		</td>
    		<td>
    			Alícuota
    		</td>
    		<td>
    			Lista
    		</td>
    		<td>
    			Sublista
    		</td>
    	</tr>
    	<tr *ngFor="let item of itemListaPrecios;" >

    		<td>
    			{{item.codigo_art}}
    		</td> 
    		<td>
    			{{item.nombre_art}}
    		</td> 
    		<td>
    			{{item.prevent}}
    		</td>
    		<td>
    			{{item.nombre_iva}}
    		</td>
    		<td>
    			{{item.nombre_lis}}
    		</td>
    		<td>
    			{{item.nombre_sub}}
    		</td>


    		
    	</tr>

    </table>


</div>
